In [1]:
import pandas as pd
import numpy as np
from fault_injector import DataFrameFault
from fault_injector import DataFrameInjector

In [2]:
original_df = pd.DataFrame({
    "ColA": [np.array([10, 20, 30, 40, 50]), np.array([10, 20, 30, 40, 50]), np.array([10, 20, 30, 40, 50]), np.array([10, 20, 30, 40, 50]), np.array([10, 20, 30, 40, 50])],
    "ColB": [np.array([0, 0, 0, 0, 0]), np.array([0, 0, 0, 0, 0]), np.array([0, 0, 0, 0, 0]), np.array([0, 0, 0, 0, 0]), np.array([0, 0, 0, 0, 0])],
    "ColC": [np.array([100, 200, 300, 400, 500]), np.array([100, 200, 300, 400, 500]), np.array([100, 200, 300, 400, 500]), np.array([100, 200, 300, 400, 500]), np.array([100, 200, 300, 400, 500])],
    "SafeCol": [np.array([1, 2, 3, 4, 5]), np.array([1, 2, 3, 4, 5]), np.array([1, 2, 3, 4, 5]), np.array([1, 2, 3, 4, 5]), np.array([1, 2, 3, 4, 5])],
})
injector = DataFrameInjector(original_df)

original_df.head()

,ColA,ColB,ColC,SafeCol
0,"[10, 20, 30, 40, 50]","[0, 0, 0, 0, 0]","[100, 200, 300, 400, 500]","[1, 2, 3, 4, 5]"
1,"[10, 20, 30, 40, 50]","[0, 0, 0, 0, 0]","[100, 200, 300, 400, 500]","[1, 2, 3, 4, 5]"
2,"[10, 20, 30, 40, 50]","[0, 0, 0, 0, 0]","[100, 200, 300, 400, 500]","[1, 2, 3, 4, 5]"
3,"[10, 20, 30, 40, 50]","[0, 0, 0, 0, 0]","[100, 200, 300, 400, 500]","[1, 2, 3, 4, 5]"
4,"[10, 20, 30, 40, 50]","[0, 0, 0, 0, 0]","[100, 200, 300, 400, 500]","[1, 2, 3, 4, 5]"

In [3]:
df_fault_gen_obj = DataFrameFault(
    col_names=["ColA", "ColB", "ColC"],
    horizontal=True,
    fault_length=5,
    df_length=3,
    repeat=True,
    multi_fault=False,
    include_individual_faults=False,
    persist_state=True,
)

df_fault_gen_obj.assign_fault(
    col="ColA",
    fault_type="StuckValueFault",
    params={"stuck_val": 1},
)

df_fault_gen_obj.assign_fault(
    col="ColB",
    fault_type="DriftFault",
    params={"drift_rate": 1, "continuous": True},
)

df_fault_gen_obj.assign_fault(
    col="ColC",
    fault_type="StuckValueFault",
    params={"stuck_val": [1, 2, 3]},
    fault_length=4,
)


df_fault_gen_obj.assign_fault("ColD", "StuckValueFault", {"stuck_val": 2})
df_fault_gen_obj.assign_fault("ColE", "DriftFault", {"drift_rate": 1, "continuous": True})

fault_df_4 = df_fault_gen_obj.generate_faults()
print("\n--- AFTER ADDING ColD=2 AND ColE=drift ---")
fault_df_4.head()

Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!

--- AFTER ADDING ColD=2 AND ColE=drift ---

,ColA,ColB,ColC,ColD,ColE
0,"[1, 1, 1, 1, 1]","[1, 2, 3, 4, 5]","[1, 1, 1, 1]","[2, 2, 2, 2, 2]","[1, 2, 3, 4, 5]"
1,"[1, 1, 1, 1, 1]","[6, 7, 8, 9, 10]","[2, 2, 2, 2]","[2, 2, 2, 2, 2]","[6, 7, 8, 9, 10]"
2,"[1, 1, 1, 1, 1]","[11, 12, 13, 14, 15]","[3, 3, 3, 3]","[2, 2, 2, 2, 2]","[11, 12, 13, 14, 15]"

In [4]:
injector.original_df

,ColA,ColB,ColC,SafeCol
0,"[10, 20, 30, 40, 50]","[0, 0, 0, 0, 0]","[100, 200, 300, 400, 500]","[1, 2, 3, 4, 5]"
1,"[10, 20, 30, 40, 50]","[0, 0, 0, 0, 0]","[100, 200, 300, 400, 500]","[1, 2, 3, 4, 5]"
2,"[10, 20, 30, 40, 50]","[0, 0, 0, 0, 0]","[100, 200, 300, 400, 500]","[1, 2, 3, 4, 5]"
3,"[10, 20, 30, 40, 50]","[0, 0, 0, 0, 0]","[100, 200, 300, 400, 500]","[1, 2, 3, 4, 5]"
4,"[10, 20, 30, 40, 50]","[0, 0, 0, 0, 0]","[100, 200, 300, 400, 500]","[1, 2, 3, 4, 5]"

In [5]:
fault_df_4

,ColA,ColB,ColC,ColD,ColE
0,"[1, 1, 1, 1, 1]","[1, 2, 3, 4, 5]","[1, 1, 1, 1]","[2, 2, 2, 2, 2]","[1, 2, 3, 4, 5]"
1,"[1, 1, 1, 1, 1]","[6, 7, 8, 9, 10]","[2, 2, 2, 2]","[2, 2, 2, 2, 2]","[6, 7, 8, 9, 10]"
2,"[1, 1, 1, 1, 1]","[11, 12, 13, 14, 15]","[3, 3, 3, 3]","[2, 2, 2, 2, 2]","[11, 12, 13, 14, 15]"

In [6]:
print("\n--- INJECT ONLY ColB INTO ROWS 1:4 ---")
updated_df_1 = injector.inject_faults(
    faulty_df=fault_df_4,
    columns_to_inject=["ColB"],
    start=1,
    stop=4,
    replace=True,
)
updated_df_1.head()

--- INJECT ONLY ColB INTO ROWS 1:4 ---

,ColA,ColB,ColC,SafeCol
0,"[10, 20, 30, 40, 50]","[0, 0, 0, 0, 0]","[100, 200, 300, 400, 500]","[1, 2, 3, 4, 5]"
1,"[10, 20, 30, 40, 50]",None,"[100, 200, 300, 400, 500]","[1, 2, 3, 4, 5]"
2,"[10, 20, 30, 40, 50]",None,"[100, 200, 300, 400, 500]","[1, 2, 3, 4, 5]"
3,"[10, 20, 30, 40, 50]",None,"[100, 200, 300, 400, 500]","[1, 2, 3, 4, 5]"
4,"[10, 20, 30, 40, 50]","[0, 0, 0, 0, 0]","[100, 200, 300, 400, 500]","[1, 2, 3, 4, 5]"

In [7]:
df_fault_gen_obj = DataFrameFault(
    col_names=["ColA", "ColB", "ColC"],
    horizontal=True,          # default is vertical; horizontal means lists per row
    fault_length=3,           # number of values generated per fault call
    df_length=5,              # number of rows in the output dataframe
    repeat=True,              # allow list-based parameters to repeat their last value
    multi_fault=False,        # only one fault per column
    combine_mode=None,        # ignored when multi_fault=False
    include_individual_faults=False,  # ignored when multi_fault=False
    registry=None,            # uses default fault_lib registry
    custom_fault=False,       # user is NOT using custom fault classes
    metadata=None,
    persist_state=True,
)

df_fault_gen_obj.assign_fault(
    col="ColA",
    fault_type="StuckValueFault",
    params={"stuck_val": 1},
)

df_fault_gen_obj.generate_faults()

Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!

        ColA ColB ColC
0  [1, 1, 1]   []   []
1  [1, 1, 1]   []   []
2  [1, 1, 1]   []   []
3  [1, 1, 1]   []   []
4  [1, 1, 1]   []   []

In [8]:
df_fault_gen_obj.assign_fault(
    col="ColB",
    fault_type="DriftFault",
    params={
        "drift_rate": 1,
        "continuous": True
    },
)

df_fault_gen_obj.assign_fault(
    col="ColC",
    fault_type="StuckValueFault",
    params={"stuck_val": [1, 2, 3]},  # param list length < df_length
    fault_length=4,                    # override default 3
)

df_fault_gen_obj()

Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!

        ColA          ColB          ColC
0  [1, 1, 1]     [1, 2, 3]  [1, 1, 1, 1]
1  [1, 1, 1]     [4, 5, 6]  [2, 2, 2, 2]
2  [1, 1, 1]     [7, 8, 9]  [3, 3, 3, 3]
3  [1, 1, 1]  [10, 11, 12]  [3, 3, 3, 3]
4  [1, 1, 1]  [13, 14, 15]  [3, 3, 3, 3]

In [9]:
df_fault_gen_obj.assign_fault(
    col="ColD",
    fault_type="StuckValueFault",
    params={"stuck_val": 1},
)

df_fault_gen_obj.generate_faults()

Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!

        ColA          ColB          ColC       ColD
0  [1, 1, 1]  [16, 17, 18]  [1, 1, 1, 1]  [1, 1, 1]
1  [1, 1, 1]  [19, 20, 21]  [2, 2, 2, 2]  [1, 1, 1]
2  [1, 1, 1]  [22, 23, 24]  [3, 3, 3, 3]  [1, 1, 1]
3  [1, 1, 1]  [25, 26, 27]  [3, 3, 3, 3]  [1, 1, 1]
4  [1, 1, 1]  [28, 29, 30]  [3, 3, 3, 3]  [1, 1, 1]

In [10]:
df_fault_gen_obj.assign_fault(
    col="ColD",
    fault_type="StuckValueFault",
    params={"stuck_val": 2},
)
df_fault_gen_obj.assign_fault(
    col="ColE",
    fault_type="DriftFault",
    params={
        "drift_rate": 1,
        "continuous": True
    },
)

df_fault_gen_obj.generate_faults()

Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!
Fault Updated!

        ColA          ColB          ColC       ColD          ColE
0  [1, 1, 1]  [31, 32, 33]  [1, 1, 1, 1]  [2, 2, 2]     [1, 2, 3]
1  [1, 1, 1]  [34, 35, 36]  [2, 2, 2, 2]  [2, 2, 2]     [4, 5, 6]
2  [1, 1, 1]  [37, 38, 39]  [3, 3, 3, 3]  [2, 2, 2]     [7, 8, 9]
3  [1, 1, 1]  [40, 41, 42]  [3, 3, 3, 3]  [2, 2, 2]  [10, 11, 12]
4  [1, 1, 1]  [43, 44, 45]  [3, 3, 3, 3]  [2, 2, 2]  [13, 14, 15]